<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--<settings>
  <setting name="LazyLoadingEnabled" value="true"/>
<setting name="aggressiveLazyLoading" value="false"/>
</settings>-->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://192.168.2.123:3333/zhexing?characterEncoding=UTF-8&amp;useSSL=true&amp;serverTimezone=UTC" />
				<property name="username" value="root" />
				<property name="password" value="zhexing" />
			</dataSource>
		</environment>
	</environments>
<mappers>
	<mapper class="com.zhexing.sso.dao.userDao"/>
<mapper class="com.zhexing.sso.dao.user_manage_Dao"/>
</mappers>
</configuration>